{% extends 'layouts/base.html' %}
{% block title %}Browse - {{ block.super }}{% endblock %}
{% block content %}
<h1>
	Browse Swimfaces{% if initial %} Starting with '{{ initial|title }}'{% endif %}
</h1>

{% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
<a href="{% url 'browse_by_name' initial=letter %}"
	{% if initial == letter %}class="active"{% endif %}>
	{{ letter|upper }}
</a>
{% endfor %}

<ul>
	{% for swimface in swimfaces %}
	<li>
		<a href="{% url 'swimface_detail' slug=swimface.slug %}">
			{{ swimface.name }}
		</a>
	</li>
	{% empty %}
	<li>Sorry, no results. Go recruit some swimmers!</li>
	{% endfor %}
</ul>
{% endblock %}
